<div class="container" style="background-color: #F5F5F5;">
    <h2>Carga de productos</h2>
    <form action="/productos" method="POST" id="redirectForm">
        nombre: <input type="text" name="title" class="form-control">
        precio: <input type="text" name="price" class="form-control">
        foto URL: <input type="text" name="thumbnail" class="form-control">
        <br>
        <button class="btn btn-primary">Enviar</button>
    </form>
    <hr>
    <br>
    <a href="/productos"><button class="btn btn-success">Ver Lista de Productos</button>   </a>
        
</div> 